<div class="row p-5">
    <div class="col-9 mx-auto">
        <div class="frame">
            <ng-container *ngIf="isIpadOn; else hidden">
                <div class="layer p-4" (contextmenu)="handleRightClick($event)">
                    <ul
                        [hidden]="!isMenuOpen"
                        [ngStyle]="{
                            'top.px': dropdownPosition.y,
                            'left.px': dropdownPosition.x
                        }"
                    >
                        <li>
                            <a (click)="createFolder()">New Folder</a>
                        </li>
                    </ul>
                    <div cdkDropListGroup>
                        <div
                            cdkDropList
                            [cdkDropListData]="state.apps"
                            (cdkDropListDropped)="drop($event)"
                            class="row mb-5"
                            cdkDropListOrientation="horizontal"
                        >
                            <div
                                *ngFor="let app of state.apps"
                                cdkDrag
                                class="col-2 mb-5"
                            >
                                <ios-app [props]="app"></ios-app>
                            </div>
                        </div>

                        <div class="row">
                            <div
                                *ngFor="let folder of state.folders"
                                [class]="folder.isOpen ? 'col-6' : 'col-4'"
                                (dblclick)="onDoubleClick(folder)"
                            >
                                <ng-container *ngIf="folder.isOpen">
                                    <div
                                        class="card bg-light mb-3"
                                        [ngClass]="{
                                            'border-info': folder.isActive
                                        }"
                                    >
                                        <div
                                            class="card-header d-flex flex-column"
                                        >
                                            <div
                                                class="d-flex justify-content-between align-items-start"
                                            >
                                                <fa-icon
                                                    class="close"
                                                    [icon]="iconClose"
                                                    (click)="
                                                        handleClose(folder)
                                                    "
                                                ></fa-icon>
                                                <div
                                                    class="category-container d-flex justify-content-center align-items-center flex-grow-1"
                                                >
                                                    <span>
                                                        {{
                                                            folder.genre ||
                                                                folder.apps[0]
                                                                    ?.genre
                                                                | titlecase
                                                        }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            <div
                                                cdkDropList
                                                [cdkDropListData]="folder.apps"
                                                (cdkDropListDropped)="
                                                    drop($event)
                                                "
                                                (cdkDropListEntered)="
                                                    dragEntered($event, folder)
                                                "
                                                (cdkDropListExited)="
                                                    dragExited($event, folder)
                                                "
                                                cdkDropListOrientation="horizontal"
                                                class="row"
                                                [ngClass]="{
                                                    'cdk-drop-list-empty':
                                                        folder.apps.length === 0
                                                }"
                                            >
                                                <div
                                                    class="col-6 pb-4"
                                                    *ngFor="
                                                        let app of folder.apps
                                                    "
                                                    cdkDrag
                                                >
                                                    <ios-app
                                                        [props]="app"
                                                    ></ios-app>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>

                                <div
                                    cdkDropList
                                    [cdkDropListData]="folder.apps"
                                    (cdkDropListDropped)="drop($event)"
                                    (cdkDropListEntered)="
                                        dragEntered($event, folder)
                                    "
                                    (cdkDropListExited)="
                                        dragExited($event, folder)
                                    "
                                >
                                    <div
                                        class="d-flex flex-column align-items-center"
                                    >
                                        <fa-icon
                                            *ngIf="!folder.isOpen"
                                            class="folder"
                                            [icon]="iconfolder"
                                            size="5x"
                                            [ngClass]="{
                                                active: folder.isActive
                                            }"
                                        ></fa-icon>
                                        <p *ngIf="!folder.isOpen">
                                            {{
                                                folder.genre ||
                                                    folder.apps[0]?.genre
                                                    | titlecase
                                            }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-template #hidden>
                <div class="boot">
                    <img src="../../assets/apple.png" alt="" />
                    <div class="progress mt-5"                             style="height: 10px;"
                    >
                        <div
                            class="progress-bar progress-bar-striped progress-bar-animated"
                            role="progressbar"
                            [style.width]="width + '%'"
                        ></div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
